@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

// GLOBAL CSS

.font-sofia {
    font-family: "Sofia Sans", sans-serif;
}

body{
    font-family: "Sofia Sans", sans-serif;
}





// BANNER
.Banner-main{
     display: flex;
     justify-content: space-between;
     align-items: center;

     width: 100vw;
     height: 10rem;

     position: relative;

     padding: 0rem 8rem;
}


.Banner-wrapper-1-text_and_backgroundLogo_uem{
    text-align: center;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-uemLogoBackground{
    position: absolute;
    
}